.feedback-form {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: start;
  justify-content: center;
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  height: 296px;
  background: #fff;
}
input {
  display: block;
  margin-top: 8px;
}
textarea {
  display: block;
  margin-top: 8px;
  resize: none;
}
button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background: #4e75ff;
  border: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}
button:hover {
  background: #6c8cff;
}
